html {
    background-color: beige;
    max-width: 1200px;
}


#PortfolioAndNav {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: blue;
}

#PortfolioAndNav nav {
    font-weight: bold;  
    width: 250px;
    display: inline-flex;
    justify-content: space-between;
}

.name {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.name div h2{
    margin: 10px 0px;
}

#persona div{
    display: inline-flex;
    align-content: center;
    justify-content: space-between;
}

#persona div h2{
    margin: 5px 10px;
}

#education div {
    display: inline-flex;
    align-content: center;
    justify-content: space-between;
}

#education div h2{
    margin: 5px 10px;
}

#workex div {
    display: inline-flex;
    align-content: center;
    justify-content: space-between;
}

#workex div h2{
    margin: 5px 10px;
}

#skill div {
    display: inline-flex;
    align-content: center;
    justify-content: space-between;
}

#skill div h2{
    margin: 5px 10px;
}


@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
}